<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<div class="container">
    <h3>Enter user details</h3>

    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            </thead>

            <tbody>

            <td>Name: <input type="text" th:field="*{userName}"></td>
            <td>Password: <input type="text" th:field="*{password}"></td>
            <td>Email: <input type="text" th:field="*{email}"></td>

            </tbody>

            <p><input type="submit" value="Add user!"></p>

        </table>

    </form>

    <!--    <p><input type="submit" value="add user!!!!!!"></p>-->
</div>
</body>
</html>
